/* RESOLUCION GENERAL (MOBILE FIRST)*/
/*ESTILOS GENERALES*/
* {
	color:black;
	font-size:16px;
	font-family:Sans-serif;
}

html, body, menu, h1, h2, h3, h4, h5, h6, span,
header, main, aside, footer, section, article, img, nav, ul, li{
	margin:0;
	padding:0;
}

html, body {
	height: 100vh;
}

.container {
    display: flex;
	flex-direction: column;
	height: 100vh;
}

/*HEADER PAGE*/
web-header {
	width: 100%;
	height: 70px;
	background: /*#1C5F88*/ #006934;
}


.content {
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	/*border: 2px solid blue;*/
}

/*FOOTER PAGE*/
web-footer {
	height:40px;
	min-height:40px;
    width: 100%;
	margin-top: 20px;
}

/*MAIN PAGE*/
web-main {
	width: 100%;
}
/*ASIDE PAGE*/
web-sidebar {
	width: 100%;
}



#header{
	display: flex;
	flex-flow: row;
	width:100%;
	height: 100%;
}

	#header .title{
		display: flex;
		flex-flow: row;
		align-items: center;
		width: 50%;
	}

		#header .title .logo{
			height: 45px;
			width: 45px;
			margin-left: 20px;
		}

		#header .title .title-text{
			color: #fff;
			font-size: 2.4rem;
			margin-left: 20px;
			font-family: 'Dalek';
		}

	#header .navigation{
		font-size: 2rem;
		width:49%;
	}

		#header .navigation nav{
			width: 100%;
			height: 100%;
		}

			#header .navigation nav ul{
				display:flex;
				flex-flow:row ;
				justify-content:flex-end;
				align-items: center;
				list-style:none;
				width: 100%;
				height: 100%;
			}

				#header .navigation nav ul li{
					color:white;
					text-decoration:underline;
					margin-right:10px;
				}

#main > div {

}

/*List page section*/
.section-list {
	/*Flex en este padre influye en su comportamiento por defecto y no sucede como en el div padre*/

	/*por ejemplo parece no funcionar el margin 0 auto*/
	display:flex;
	flex-flow: column;
	width: 90%;
	margin:0 auto;
	height: 100%;
	min-height: 65%;
}

	.section-list article{
		display: flex;
		flex-flow: row wrap;
		/*background: white;*/
		border: 6px solid #006934;
		height: 128px;
		margin-top:30px;
		padding:8px 10px;
	}

		.section-list article .article-header{
			width: 50%;
			height: 90%;
		}

			.section-list article .article-header .article-title{
				font-size:1.78rem;
				text-align: left;
				margin-top: 0px;
			}

			.section-list article .article-header .article-title span {
				color: #006934;
				border-bottom: 2px solid #006934;
			}

			.section-list article .article-header .article-subtitle{
				font-size:0.88rem;
				text-align:left;
				margin-top: 0px;
			}

			.section-list article .article-header .article-subtitle span {
				color: #1C5F88;
				border-bottom: 2px solid #1C5F88;
			}

			.section-list article .article-header .menu-buttons {
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				overflow-y: auto;
			}

			.section-list article .article-header .menu-buttons .button-area {
				color: white;
				background-color: #1C5F88;
				border: none;
				padding: 2px;
				margin-left: 5px;
				margin-top: 5px;
				cursor: pointer;
			}

		.section-list article .article-main{
			width:50%;
			height: 90%;
			font-size:0.7rem;
			font-weight: bold;
			margin-top: 6px;
		}

		.section-list article .article-footer{
			width: 100%;
			height: 10%;
		}

			.section-list article .article-footer .button-social {
				font-size: 12px;
				color: white;
				background-color: gray;
				border: none;
				padding: 2px;
				margin-left: 5px;
				cursor: pointer;
			}

/*Single page section*/
.section-single {
	display:flex;
	flex-flow: row wrap;
	width: 90%;
	margin:0 auto;
	margin-top: 15px;
	padding: 15px;
	height: 100%;
	min-height: 65%;
}

	.section-single header {
		width: 100%;
	}

		.section-single .section-title{
			margin:10px auto;
			text-transform: uppercase;
			color:#1C5F88;
			text-align:center;
			text-decoration: underline;
			font-size:0.8rem;
		}

	.section-single main {
		flex-grow: 1;
		width: 55%;
		margin-top: 10px;
		border-right: 2px solid #006934;

	}

		.section-single main .button-position {
			color: white;
			background-color: #006934;
			border: none;
			width: 28px;
			height: 28px;
			padding: 2px;
			margin-left: 5px;
			margin-top: 5px;
		}

	.section-single aside {
		flex-grow: 1;
		display: flex;
		flex-flow: row wrap;
		width: 44%;
		margin-top: 10px;
	}

		.section-single aside .subareas {
			width: 100%;
		}

			.section-single aside .subareas .subareas-title{
				font-size:0.88rem;
				text-align:center;
				margin-top: 8px;
			}

				.section-single aside .subareas .subareas-title span {
					color: #006934;
					border-bottom: 2px solid #006934;
				}

			.section-single aside .subareas .menu-buttons {
				display: flex;
				flex-flow: row wrap;
				overflow-y: auto;
				margin-top: 8px;
			}

				.section-single aside .subareas .menu-buttons .button-area {
					color: white;
					background-color: #1C5F88;
					border: none;
					padding: 2px;
					margin-left: 5px;
					margin-top: 5px;
					cursor: pointer;
				}

		.section-single aside .topareas {
			width: 100%;
		}

			.section-single aside .topareas .topareas-title{
				font-size:0.88rem;
				text-align:center;
				margin-top: 8px;
			}

				.section-single aside .topareas .topareas-title span {
					color: #006934;
					border-bottom: 2px solid #006934;
				}

			.section-single aside .topareas .menu-buttons {
				display: flex;
				flex-flow: row wrap;
				overflow-y: auto;
				margin-top: 8px;
			}

				.section-single aside .topareas .menu-buttons .button-area {
					color: white;
					background-color: #1C5F88;
					border: none;
					padding: 2px;
					margin-left: 5px;
					margin-top: 5px;
					cursor: pointer;
				}

	.section-single footer {
		width: 100%;
	}



#sidebar {
}

#footer {
	background-color: black;
	color:white;
	width:100%;
    height: 100%;
}

    .footer-page{
    }


/*FORMS*/

@media only screen and (max-width: 480px) and (orientation: portrait){

    web-main {
    	border-right: none;
    }

	.section-list article .article-header .article-title{
		margin-top: -10px;
		font-size:1.78rem;
		/*text-align: center;*/
	}

	.section-list article .article-header .article-title .article-title-text-agora,
	.section-list article .article-header .article-subtitle,
	.section-list article .article-header .article-subtitle span,
	.section-list article .article-header .menu-buttons,
	.section-list article .article-footer{
		display: none;
	}
}

@media only screen and (max-width: 480px) and (orientation: landscape){

	#header .title {
    	font-size: 1.1rem;
	}

	#header .navigation nav ul li {
    	font-size: 0.7rem;
	}


    web-main {
    	border-right: none;
    }

	.section-list article {
		margin-top:30px;
	}

	.section-list article .article-header .article-title {
    	font-size: 0.88rem;
	}

	.section-list article .article-header .article-subtitle,
	.section-list article .article-header .article-subtitle span,
	.section-list article .article-header .menu-buttons,
	.section-list article .article-footer{
		display: none;
	}

}

/* RESOLUCION MAS DE 480px portrait*/
@media only screen and (min-width: 481px) and (orientation: portrait){

	#header .title {
    	font-size: 1.3rem;
	}

	#header .navigation nav ul li {
    	font-size: 0.9rem;
	}

	.section-list{
		width: 92%;
	}

	.section-list article {
		margin-top: 25px;
		height: 220px;
	}

	.section-list article .article-header{
		width: 40%;
	}

	.section-list article .article-header .article-title {
    	font-size: 1rem;
	}

	.section-list article .article-main{
		width: 60%;
	}

	.section-single .section-title {
    	font-size: 1rem;
	}

}

@media only screen and (min-width: 481px) and (orientation: landscape){


	#header .title {
    	font-size: 1.3rem;
	}

	#header .navigation nav ul li {
    	font-size: 0.9rem;
	}

	.section-list{
		width: 92%;
	}

	.section-list article {
		margin-top: 25px;
		height: 220px;
	}

	.section-list article .article-header{
		width: 40%;
	}

	.section-list article .article-header .article-title {
    	font-size: 1rem;
	}

	.section-list article .article-main{
		width: 60%;
	}

	.section-single .section-title {
    	font-size: 1rem;
	}

}

/* RESOLUCION MAS DE 768px portrait*/
@media only screen and (min-width: 769px) and (orientation: portrait){

	#header .title {
    	font-size: 1.7rem;
		top: -14px;
	}

	#header .navigation nav ul li {
		font-size: 1rem;
	}

	.section-list{
		width: 94%;
	}

	.section-list article {
		margin-top: 25px;
		height: 240px;
	}

	.section-list article .article-header{
		width: 30%;
	}

	.section-list article .article-header .article-title {
    	font-size: 1.2rem;
	}

	.section-list article .article-main{
		width: 70%;
	}

	.section-single .section-title {
    	font-size: 1.2rem;
	}

}

/* RESOLUCION MAS DE 768px portrait*/
@media only screen and (min-width: 769px) and (orientation: landscape){


	#header .title {
    	font-size: 1.7rem;
		top: -14px;
	}

	#header .navigation nav ul li {
    	font-size: 1rem;
	}

	.section-list{
		width: 94%;
	}

	.section-list article {
		margin-top: 25px;
		height: 240px;
	}

	.section-list article .article-header{
		width: 30%;
	}

	.section-list article .article-header .article-title {
    	font-size: 1.2rem;
	}

	.section-list article .article-main{
		width: 70%;
	}

	.section-single .section-title {
    	font-size: 1.2rem;
	}

}

/* RESOLUCION MAS DE 1024px */
@media only screen and (min-width: 1025px){

	.container {
	}

	/*HEADER PAGE*/
	web-header {
	}

	/*MAIN PAGE*/
	web-main {
		width: 70%;
	}

	/*ASIDE PAGE*/
	web-sidebar {
		width: 29%;
		margin-top: 0px;
	    border: 3px solid brown;
	}

	/*FOOTER PAGE*/
	web-footer {
	}

	#header .title {
		font-size: 1.9rem;
		top: -16px;
	}

	#header .navigation nav ul li {
		font-size: 1.2rem;
	}

	.section-list{
		width: 95%;
	}

	.section-list article {
		margin-top: 30px;
		height: 240px;
	}

	.section-list article .article-header .article-title span {
		font-size: 1.6rem;
	}

	.section-list article .article-header .article-subtitle span {
		font-size: 1.2rem;
	}

	.section-single .section-title span{
		font-size: 1.5rem;
	}

}

/* RESOLUCION MAS DE 1280px */
@media only screen and (min-width: 1281px) {

}

/**ESTILOS COMPONENTES*/
.section-single .chart-bars, .section-list .chart-bars{
	border-left: 3px solid black;
	border-bottom: 3px solid black;
}
