<div id='landing-features'>
     <div class='container'>
       <div class='row'>
         <div class='col-md-8 col-md-offset-2 landing-section-heading text-center'>
           <h2 class='landing-lead to-animate green'></h2>
           <p class='landing-sub to-animate'></p>
         </div>
         <div class='col-md-3 col-sm-6 col-xs-6 col-xxs-12'>
           <a class='landing-feature to-animate' href='#'>
             <span class='landing-feature-icon'>
             </span>
             <h3 class='landing-feature-lead'></h3>
             <p class='landing-feature-text'></p>
           </a>
         </div>
         <div class='col-md-3 col-sm-6 col-xs-6 col-xxs-12'>
           <a class='landing-feature to-animate' href='#'>
             <span class='landing-feature-icon'>
             </span>
             <h3 class='landing-feature-lead'></h3>
             <p class='landing-feature-text'></p>
           </a>
         </div>
         <div class='col-md-3 col-sm-6 col-xs-6 col-xxs-12'>
           <a class='landing-feature to-animate' href='#'>
             <span class='landing-feature-icon'>
             </span>
             <h3 class='landing-feature-lead'></h3>
             <p class='landing-feature-text'></p>
           </a>
         </div>
         <div class='col-md-3 col-sm-6 col-xs-6 col-xxs-12'>
           <a class='landing-feature to-animate' href='#'>
             <span class='landing-feature-icon'>
             </span>
             <h3 class='landing-feature-lead'></h3>
             <p class='landing-feature-text'></p>
           </a>
         </div>
       </div>
     </div>
   </div>
