<div id='landing-features-3'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2 landing-section-heading text-center'>
        <h2 class='landing-lead animate-single features3-animate-1 green'></h2>
      </div>
      <div class='col-md-4 col-sm-6 text-center landing-text-wrap'>
        <div class='landing-text to-animate'>
          <span class='landing-icon'>
            <i class='icon-screen-desktop'></i>
          </span>
          <h4 class='landing-uppercase-sm'></h4>
          <p></p>
        </div>
      </div>
      <div class='col-md-4 col-sm-6 text-center landing-text-wrap'>
        <div class='landing-text to-animate'>
          <span class='landing-icon'>
            <i class='icon-graph'></i>
          </span>
          <h4 class='landing-uppercase-sm'></h4>
          <p></p>
        </div>
      </div>
      <div class='col-md-4 col-sm-6 text-center landing-text-wrap'>
        <div class='landing-text to-animate'>
          <span class='landing-icon'>
            <i class='icon-camera'></i>
          </span>
          <h4 class='landing-uppercase-sm'></h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
