<section class="section-single">
    <header>
        <h1 class="section-title">Ágora {{viewAgora.agora.name}}</h1>
        <charts-bars entities="viewAgora.agora.entities" options="viewAgora.options"></charts-bars>
    </header>
    <main>
        <div ng-repeat="entity in viewAgora.agora.entities">
            <span class="button button-position">{{$index + 1}}</span>|
            <span>{{entity.name}}</span>
            <input type="radio" name="entitySelect" ng-click="viewAgora.vote(entity)">
        </div>
    </main>
    <aside class="aside-single">
        <menu-buttons classes="button-area" items="viewAgora.agora.subagoras">
            <h2 class="article-subtitle">
                <span>ÁGORAS INTERNAS</span>
            </h2>
        </menu-buttons>
        <hr>
        <h2>Ágora superior</h2>
        <button class="button button-area" ui-sref="agora({agoraSlug: subagora.slug})">Algo</button>
    </aside>
    <footer>
    </footer>
</section>
