<section class="section-single">
    <header>
        <h1 class="section-title">Ágora {{viewAgora.agora.name}}</h1>
        <charts-bars ng-if="viewAgora.agora" entities="viewAgora.agora.entities" options="viewAgora.options"></charts-bars>
    </header>
    <main>
        <user-votes ng-if="viewAgora.agora"
                    last-vote="viewAgora.lastVote"
                    entities="viewAgora.agora.entities"
                    on-user-vote="viewAgora.addVote($event)">
        </user-votes>
    </main>
    <aside>
        <menu-buttons class="subareas" classes="button-area" items="viewAgora.agora.subagoras">
            <h2 class="subareas-title">
                <span>ÁGORAS INTERNAS</span>
            </h2>
        </menu-buttons>
        <menu-buttons class="topareas" classes="button-area" items="viewAgora.agora.topagoras">
            <h2 class="topareas-title">
                <span>ÁGORAS SUPERIORES</span>
            </h2>
        </menu-buttons>
    </aside>
    <footer>
    </footer>
</section>
