@font-face {
   	font-family: 'Diogenes';
	src: url("/fonts/diogenes/diogenes.ttf");
}
@font-face {
	font-family: 'Geek';
	src: url("/fonts/ancient_geek/geek.ttf");
}
@font-face {
	font-family: 'Gelio Fasolada';
	src: url("/fonts/gelio/Gelio_Fasolada.ttf");
}
@font-face {
	font-family: 'Gelio Kleftiko';
	src: url("/fonts/gelio/Gelio_Kleftiko.ttf");
}
@font-face {
	font-family: 'Gelio Retsina';
	src: url("/fonts/gelio/Gelio_Retsina.ttf");
}
@font-face {
	font-family: 'Art Greco';
	src: url("/fonts/art_greco/art_greco.ttf");
}
@font-face {
	font-family: 'Cleopatra';
	src: url("/fonts/cleopatra/cleopatra.ttf");
}
@font-face {
	font-family: 'Dalek';
	src: url("/fonts/dalek/dalek.ttf");
}
@font-face {
	font-family: 'Triatlhon In';
	src: url("/fonts/triatlhon_in/triatlhon_in.ttf");
}
@font-face {
	font-family: 'Alphabet';
	src: url("/fonts/alphabet.ttf");
}
@font-face {
	font-family: 'Archeologica Ps';
	src: url("/fonts/archeologicaps.ttf");
}
