<footer id='landing-footer'>
  <div class='landing-overlay'></div>
  <div class='landing-footer-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-4 col-sm-4 col-md-push-5'>
          <h3 class='landing-lead'></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class='col-md-4 col-sm-4 col-md-push-4'>
          <h3 class='landing-lead'></h3>
          <ul>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class='col-md-4 col-sm-12 col-md-pull-6'>
          <div class='landing-footer-logo'>
          </div>
          <p class='landing-copyright'>
            <small>
            </small>
          </p>
          <p class='landing-social-icons'>
            <a href='#twitter'><i class='fa fa-twitter'></a>
            <a href='#facebook'><i class='fa fa-facebook'></a>
            <a href='#googe-plus'><i class='fa fa-googe-plus'></a>
            <a href='#youtube'><i class='fa fa-youtube'></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
