<div id='landing-offcanvass'>
  <ul>
    <li class='active'>
      <a href='#link' data-nav-section='home' }>home</a>
    </li>
    <li>
      <a href='#link' data-nav-section='features' }>features</a>
    </li>
    <li>
      <a href='#link' data-nav-section='benefits' }>Benefits</a>
    </li>
    <li>
      <a href='#link' data-nav-section='faqs' }>Faqs</a>
    </li>
    <li>
      <a href='#link' data-nav-section='newsletter' }>newsletter</a>
    </li>
  </ul>
  <h3 class='landing-lead'>connect with us</h3>
  <p class='landing-social-icons'>
    <a href='#twitter'><i class='fa fa-twitter'></a>
    <a href='#facebook'><i class='fa fa-facebook'></a>
    <a href='#googe-plus'><i class='fa fa-googe-plus'></a>
    <a href='#youtube'><i class='fa fa-youtube'></a>
  </p>
</div>
