<div id='landing-faqs'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 col-md-offset-2 landing-section-heading text-center'>
        <h2 class='landing-lead animate-single faqs-animate-1'></h2>
        <p class='landing-sub animate-single faqs-animate-2'></p>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='faq-accordion active to-animate'>
      <span class='faq-accordion-icon-toggle active'>
        <i class='icon-arrow-down'></i>
      </span>
      <h3></h3>
      <div class='faq-body'>
        <p></p>
      </div>
    </div>
    <div class='faq-accordion to-animate'>
      <span class='faq-accordion-icon-toggle active'>
        <i class='icon-arrow-down'></i>
      </span>
      <h3></h3>
      <div class='faq-body'>
        <p></p>
      </div>
    </div>
    <div class='faq-accordion to-animate'>
      <span class='faq-accordion-icon-toggle active'>
        <i class='icon-arrow-down'></i>
      </span>
      <h3></h3>
      <div class='faq-body'>
        <p></p>
      </div>
    </div>
    <div class='faq-accordion to-animate'>
      <span class='faq-accordion-icon-toggle active'>
        <i class='icon-arrow-down'></i>
      </span>
      <h3></h3>
      <div class='faq-body'>
        <p></p>
      </div>
    </div>
    <div class='faq-accordion to-animate'>
      <span class='faq-accordion-icon-toggle active'>
        <i class='icon-arrow-down'></i>
      </span>
      <h3></h3>
      <div class='faq-body'>
        <p></p>
      </div>
    </div>
  </div>
</div>
