<section class="section-list">
    <article class="" ui-sref="agora({agoraSlug: agora.slug})" ng-repeat="agora in viewAgoraList.agoras">
        <header class="article-header">
            <h1 class="article-title">Ágora {{agora.name | uppercase}}</h1>
        </header>
        <body class="article-body">
            <!--IMPORTANT: Dentro de un ng-repeat para evaluar una expresion que se va a pasar como string
            que no sea del bucle necesitamos {{}}, si queremos pasar un objeto no hacen falta. -->
            <charts-bars slug="{{agora.slug}}" entities="agora.entities" options="viewAgoraList.options" ></charts-bars>
        </body>
        <footer class="article-footer"></footer>
    </article>
</section>
