<section class="section-list">
    <article class="" ng-repeat="agora in viewAgoraList.agoras">
        <header class="article-header">
            <h1 class="article-title" ui-sref="agora({agoraSlug: agora.slug})">
                <span class="article-title-text">
                    <span class="article-title-text-agora">ÁGORA</span>
                    {{agora.name | uppercase}}
                </span>
            </h1>
            <user-participe agora="{{agora.slug}}"></user-participe>
            <menu-buttons classes="button-area" items="agora.subagoras">
                <h2 class="article-subtitle">
                    <span>ÁGORAS INTERNAS</span>
                </h2>
            </menu-buttons>
        </header>
        <!-- {{agora.entities}}-->
        <main class="article-main">
            <!-- entities="viewAgoraList.entities[$index]" | ng-if="viewAgoraList.entitiesArray.length > 0"-->
            <charts-bars options="viewAgoraList.options"
                         entities="agora.entities">
            </charts-bars>
        </main>
        <footer class="article-footer">
            <button class="button button-social" >INVITAR</button>
            <button class="button button-social" >COMPARTIR</button>
        </footer>
    </article>
</section>
