<section class="section-list">
    <article class="" ng-repeat="agora in viewAgoraList.agoras">
        <header class="article-header">
            <h1 class="article-title" ui-sref="agora({agoraSlug: agora.slug})">ÁGORA {{agora.name | uppercase}}</h1>
            <h2 class="article-subtitle">ÁGORAS INTERNAS</h2>
            <button class="button button-area"
                ng-repeat="subagora in agora.subagoras"
                ui-sref="agora({agoraSlug: subagora.slug})">{{subagora.name}}</button>
        </header>
        <main class="article-main">
            <charts-bars slug="{{agora.slug}}" entities="agora.entities" options="viewAgoraList.options"></charts-bars>
        </main>
        <footer class="article-footer">
            <button class="button button-social" >INVITAR</button>
            <button class="button button-social" >COMPARTIR</button>
        </footer>
    </article>
</section>
